#finalTerraformDiv {
    margin: auto;
    margin-top: 44%;
    height: 25vh;
    padding: 1%;
    border-width: 2px;
    border-style: outset;
}

.red {
    border-color: rgb(220, 51, 45);
}

#finalTerraformDiv #terraRating {
    margin-bottom: 1%;
}

.startOverButton {
    margin: auto;
    margin-top: 2%
}