#finalTerraformDiv {
    margin: auto;
    margin-top: 4%;
    height: 85vh;
    padding: 1%;
    border-width: 2px;
    border-style: outset;
}

.resourceTable {
    margin: auto;
    margin-top: 1%;
}

.resourceSpan {
    margin: auto;
    margin-top: 2%;
    width: 10vw;
    height: 5vh;
    background-color: black;
    color: white;
    text-align: center;
    vertical-align: middle;
    border-style: outset;
}

.red {
    border-color: rgb(220, 51, 45);
}

.yellow {
    border-color: rgb(249, 235, 71);   
}

.black {
    border-color: rgb(39, 34, 35);
}

.blue {
    border-color: rgb(51, 138, 211);
}

.green {
    border-color: rgb(80, 163, 89);
}

#finalTerraformDiv #terraRating {
    margin-bottom: 1%;
}

.startOverButton {
    margin: auto;
    margin-top: 1%;
    height: 35px;
    background-color: whitesmoke;
    color: black;
    border-style: outset;
    border-color: black;
    border-width: 2px;
    font-size: 16px;
}