#resourceCard {
    background-color: rgba(255, 255, 255, .75);
    margin-top: 1.5%;
    border-style: outset;
    overflow-y: scroll;
    height: 95vh;
}

.resources {
    margin:auto;
    margin-left: 8%;
    margin-top: 1.5%;
    height: 13.5vh;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 285% 285%
}

.resourceArea {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.resourceHeader {
    background-color: whitesmoke;
    opacity: .9;
    border-style: ridge;
    border-color: black;
    padding: 2%;
}

#credits {
    background-image: url(../media/resource_photos/mars_credits.jpg);
}

#steel {
    background-image: url(../media/resource_photos/mars_steel.jpg);
}

#titanium {
    background-image: url(../media/resource_photos/mars_titanium.jpg)
}

#plants {
    background-image: url(../media/resource_photos/mars_plants.jpg)
}

#energy {
    background-image: url(../media/resource_photos/mars_energy.jpg)
}

#heat {
    background-image: url(../media/resource_photos/mars_heat.jpg)
}

.changeButtons {
    margin: auto;
    margin-top: 2%;
}

.changeButtons button {
    width: 50%;
}

.changeButtons button:hover, .terraRatingButton button:hover {
    color: rgba(255, 255, 255, .75);
    background-color: black;
}

.production {
    margin: auto;
    margin-top: 13%;
}

.amount {
    margin: auto;
    margin-top: 6%;
}

.production, .amount {
    width: 56%;
}

#terraRating {
    border-style: solid;
    background-color: black;
    color: white;
    margin: auto;
    padding: .5%;
}

.terraRatingButton {
    margin: auto;
    margin-top: .5%;
}

.terraRatingButton button {
    width: 14.5%;
}